<style>
  .field {
    display: inline-flex;
    align-items: center;
  }

  .field-label {
    font-weight: bold;
    margin-right: 0.25rem;
  }
  .icon {
    width: 5rem !important;
    height: 5rem !important;
    overflow: auto;
  }
  .icon img {
    width: 5rem;
    height: 5rem;
  }
  atomic-result-section-excerpt {
    margin-top: 0.25rem !important;
  }
  .Featured::part(result-badge-element) {
    background-color: green;
    color: white;
  }
  .Recommended::part(result-badge-element) {
    background-color: red;
    color: white;
  }
  .printuri {
    grid-area: -1/2/-1/span 4;
    display:flex;
  }
  .print {
    padding-left: 10px;
  }
  .preview {
    grid-column: 1 / span 1;
  }
  .image-icon {
    grid-template-rows: repeat(7, auto)  !important;
  }
  :host::before {
    margin: 0.8rem !important;
  }
</style>

<atomic-result-section-visual class="icon">

  <dev-icons-result-component class="icon"></dev-icons-result-component>
</atomic-result-section-visual>
  
<atomic-result-section-title>

  <atomic-result-link target="blank"></atomic-result-link>
  <atomic-field-condition must-match-is-top-result="true" >
      <atomic-result-badge label="Featured" class="Featured"></atomic-result-badge>
  </atomic-field-condition>
  <atomic-field-condition must-match-is-recommendation="true" >
      <atomic-result-badge label="ML Recommendation" class="Recommended"></atomic-result-badge>
  </atomic-field-condition>
</atomic-result-section-title>

<atomic-result-section-excerpt>
  <atomic-result-text field="excerpt"></atomic-result-text>
</atomic-result-section-excerpt>


<atomic-result-section-bottom-metadata>
  <atomic-result-fields-list>
    <atomic-field-condition class="field" if-defined="code_origin">
      <span class="field-label">
        <atomic-text value="Origin"></atomic-text>:
      </span>
      <atomic-result-text field="code_origin"></atomic-result-text>
    </atomic-field-condition>

    <atomic-field-condition class="field" if-defined="code_org">
      <span class="field-label">
        <atomic-text value="Org"></atomic-text>:
      </span>
      <atomic-result-text field="code_org"></atomic-result-text>
    </atomic-field-condition>

    <atomic-field-condition class="field" if-defined="code_repo">
      <span class="field-label">
        <atomic-text value="Repo"></atomic-text>:
      </span>
      <atomic-result-text field="code_repo"></atomic-result-text>
    </atomic-field-condition>

    <atomic-field-condition class="field" if-defined="code_branch">
      <span class="field-label">
        <atomic-text value="Code Branch"></atomic-text>:
      </span>
      <atomic-result-text field="code_branch"></atomic-result-text>
    </atomic-field-condition>

    <span class="field">
      <span class="field-label">Date:</span>
      <atomic-result-date></atomic-result-date>
    </span>
  </atomic-result-fields-list>
  
</atomic-result-section-bottom-metadata>

<atomic-result-section-bottom-line class="printuri">
    <code-search-preview-result-component></code-search-preview-result-component>
    
    <atomic-result-printable-uri class="print"></atomic-result-printable-uri>  
</atomic-result-section-bottom-line>



