.small::part(code_image) {
  width: 24px;
  height: 24px;
  vertical-align: text-top;
}

.recentList {
  list-style: none;
  margin-block-start: 0px !important;
  padding-inline-start: 0px !important;
}
.title {
  font-weight: var(--atomic-font-bold);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
  display: block;
}

a:link {
  text-decoration: none;
  color: var(--atomic-on-background);
}

a:visited {
  text-decoration: none;
  color: var(--atomic-on-background);
}

a:hover {
  text-decoration: underline;
  color: var(--atomic-primary);
}

a:active {
  text-decoration: none;
  color: var(--atomic-on-background);
}

div {
  margin-top: var(--spacing);
  border: 1px solid var(--atomic-neutral);
  background-color: var(--atomic-background);
  border-color: var(--atomic-neutral);
  border-radius: var(--atomic-border-radius-lg);
  padding: 1rem;
  margin-right: 5px;
}
.recentList li {
  padding-bottom: 15px;
}
.recentListItem {
  width: 80%;
  word-break: break-all;
  vertical-align: top;
  display: inline-block;
  font-size: smaller;
}
