img {
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 80%;
  padding-right: 20px;
  border-right: 1px solid var(--atomic-neutral);
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: fixed;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
